# Source files
src

# Node module dependencies
node_modules
package-lock.json

# Typings
typings

# Beautifiers & Indenters
.jsbeautifyrc
tsconfig.json

# Test Coverage
coverage

# Gitignore
.gitignore