# Source files
src

# Node module dependencies
node_modules
package-lock.json

# Sample files
example/**/*
!example/index.js

# Typings
typings

# Beautifiers & Indenters
.jsbeautifyrc
.tslint.json
tsconfig.json

# Test Coverage
coverage